{% extends "base.html" %}

    {% block content %}
    <div class="row">
        <div class="col-md-12 text-left">
            <div class="stat-box">
                <h3>Satoshi Spritz Keychain</h3>
                <p>Realizzato con stampa 3d il Satoshi Spritz Keychain rappresenta il logo dei Satoshi Sprit e verrà distribuito gratuitamente al Satoshi Spritz di Lugano prima della conferenza Plan B.</p>
                <p>Ogni portachiavi contiene un tag NFC (e specificamente un NTAG215 con un link serializzato) che porta a questo sito ed ad una pagina contenente una prova realizzata con Opentimestamps.</p>
                <p>Tutto è open source e può essere liberamente scaricato ed utilizzato.</p>
                <p>La realizzazione di un piccolo batch è stata finanziata dalla comunità consentendo di stampare un numero sufficiente per la distribuzione al Satoshi Spritz.</p>
            </div>
        </div>
    </div>
    {% endblock %}